doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    h2 value #{first_max}
    .card
      
      |   
      .container
        h4
          b #{second_max}
        |  
        |     
        p Architect &amp; Engineer
